The Whisky Club App/aptanavfs7681484254918401468efs
The Whisky Club App/.settings/org.eclipse.wst.common.component
The Whisky Club App/.settings/.jsdtscope
The Whisky Club App/.settings/org.eclipse.wst.common.project.facet.core.xml
The Whisky Club App/.settings/org.eclipse.wst.jsdt.ui.superType.name
*.tern-project
The Whisky Club App/.project
The Whisky Club App/.settings/org.eclipse.wst.jsdt.ui.superType.container